body {
            margin: 0;
            font-family: monospace;
            display: flex;
            height: 100vh;
        }
 .menu {
            width: 200px;
            background-color: #34495e;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 0px;
        }
.menu button {
            width: 80%;
            margin: 10px 0;
            padding: 10px;
            background-color:  #117864;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

.menu button:hover {
            background-color: #2980b9;
        }

.content {
            flex: 1;
            padding: 20px;
            background-color: #ecf0f1;
            #display: flex;
            justify-content: center;
            align-items: center;
        }

.content div {
            display: none;
        }

.content div.active {
            display: block;
        }
		
textarea {
            width: 100%;
            height: 150px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
            font-size: 16px;
            resize: vertical; /* Allow only vertical resizing */
        }
		
textarea:focus {
            border-color: #007BFF; /* Change border color on focus */
            outline: none; /* Remove default outline */
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a shadow effect */
}