body {
      font-size: 12px;
      font-family: ubuntu mono;
      background-color: gray;
      color: black;
      margin: 0;
  }

div {
	width:50%;
	padding:8px;
	margin:auto;
}
	
center {
	margin:16px 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.titulos {
    text-align:center;
    padding:3px;
    font-weight: bold;
    font-size: 20px;
}
