body {
    font-size: 12px;
    font-family: ubuntu mono;
    background-color: gray;
    color: black;
    margin: 0;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

  a:hover,
  a:active {
    color:  #4d1491;
    text-decoration: underline;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table.center {
    margin-left: auto; 
    margin-right: auto;
}

.titulos {
	text-align:center;
	padding:3px;
	font-weight: bold;
	font-size: 20px;	
}
