body {
	font-size: 12px;
      	font-family: courier,monospace;;
      	background-color: gray;
      	color: black;
}

a {
	color: black;
      	font-weight: bold;
      	text-decoration: none;
}

a:hover,
a:active {
   	color: DarkRed;
   	text-decoration: underline;
}
		
.centrado {
	text-align:center;
	padding:8px;
	
}
	
div {
	width:60%;
	padding:8px;
	margin:auto;
}
	
center {
	margin:16px 0;
}
	
.titulos {
	text-align:center;
	padding:8px;
	font-weight: bold;
	font-size: 20px;
	
}

mark { 
  	background-color: DarkRed;
  	color: gray;
}

details[open] summary {
      	background: black;
      	color: gray;
}

details[open] {
      	background: gray;
      	color: black;
      	padding: .5em .5em 0;
}
