body {
    font-size: 12px;
    font-family: ubuntu mono;
    background-color: gray;
    color: black;
    margin: 0;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover,
a:active {
    color: DarkRed;
    text-decoration: underline;
}
    
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table.center {
    margin-left: auto; 
    margin-right: auto;
}

p.box {
    border: 1px solid DarkSeaGreen;
    width: 160px;
    height: 20px;
    padding: 25px;
    margin: 2px;
}

p.box1 {
    border: 2px #e12c1f;
    width: 175px;
    height: 20px;
    padding: 15px;
    margin: 15px;
}

table.centertable {
    margin-left: auto; 
    margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

mark { 
    background-color: DarkRed;
    color: gray;
}

.titulos {
    text-align:center;
    padding:3px;
    font-weight: bold;
    font-size: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
