body {
    font-family: Arial, sans-serif;
    #display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10;
    background-color: #7b7f7f;
}

.container {
	margin: auto;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 600px;
}

textarea {
    width: 90%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: monospace;
}

.buttons {
    margin: 10px 0;
}

button {
    padding: 10px 40px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    margin: 5px;
    cursor: zoom-in;
}

button:hover {
    background-color: #ddd;
}
